h1,
h2,
h3 {
  color: #614d2c;
}
h1 > a,
h2 > a,
h3 > a {
  color: #614d2c;
  text-decoration: none;
}
a {
  color: #614d2c;
}
img {
  max-width: 100%;
}
html {
  font-style: normal;
  font-family: "Droid Sans", "Arial", "sans-serif";
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
#background-left {
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
  width: 50%;
  height: 70%;
  background-image: url("/images/swamp.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
#background-right {
  position: fixed;
  display: inline-block;
  top: 0;
  right: 0;
  width: 50%;
  height: 70%;
  background-image: url("/images/egypt.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
#background-left:after {
  content: " ";
  position: fixed;
  display: inline-block;
  width: 50%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: -moz-radial-gradient(0 0, circle cover, rgba(255, 255, 255, 0.1) 0%, #ffffff 50%);
  background: -webkit-radial-gradient(0 0, circle cover, rgba(255, 255, 255, 0.1) 0%, #ffffff 50%);
  background: -o-radial-gradient(0 0, circle cover, rgba(255, 255, 255, 0.1) 0%, #ffffff 50%);
  background: -ms-radial-gradient(0 0, circle cover, rgba(255, 255, 255, 0.1) 0%, #ffffff 50%);
  background: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0.1) 0%, #ffffff 50%);
  z-index: 0;
}
#background-right:after {
  content: " ";
  position: fixed;
  display: inline-block;
  width: 50%;
  height: 100%;
  top: 0px;
  right: 0px;
  background: -moz-radial-gradient(100% 0, circle cover, rgba(255, 255, 255, 0.1) 0%, #ffffff 50%);
  background: -webkit-radial-gradient(100% 0, circle cover, rgba(255, 255, 255, 0.1) 0%, #ffffff 50%);
  background: -o-radial-gradient(100% 0, circle cover, rgba(255, 255, 255, 0.1) 0%, #ffffff 50%);
  background: -ms-radial-gradient(100% 0, circle cover, rgba(255, 255, 255, 0.1) 0%, #ffffff 50%);
  background: radial-gradient(circle at 100% 0, rgba(255, 255, 255, 0.1) 0%, #ffffff 50%);
  z-index: 0;
}
#site {
  width: 50%;
  min-width: 480px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}
#header {
  position: relative;
  height: 120px;
}
#header > * {
  vertical-align: middle;
  display: inline-block;
}
#header img {
  height: 60px;
}
#navbar {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0px;
}
#navbar > li {
  display: inline-block;
  margin-left: 30px;
}
#content {
  background-color: #fff;
  padding: 40px;
}
#posts ul.posts {
  padding-left: 0px;
}
#posts ul.posts > li {
  list-style-type: none;
}
#posts ul.posts > li:not(:last-child) {
  margin-bottom: 50px;
}
.meta {
  color: #614d2c;
}
.meta:before {
  content: "\25a0";
  color: #614d2c;
  margin-right: 3px;
  vertical-align: 7%;
}
#footer,
#footer-space {
  display: block;
  height: 90px;
  width: 100%;
}
#footer-space {
  position: relative;
}
#footer {
  position: fixed;
  bottom: 0px;
  width: 50%;
  min-width: 480px;
  background-color: #ffffff;
}
#footer:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0px;
  height: 0px;
  width: 100%;
  -webkit-box-shadow: 0 0 2px 2px rgba(3, 3, 3, 0.5);
  -moz-box-shadow: 0 0 2px 2px rgba(3, 3, 3, 0.5);
  box-shadow: 0 0 2px 2px rgba(3, 3, 3, 0.5);
}
#footer-content {
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
}
#footer-content > * {
  display: inline-block;
  margin-right: 30px;
}
.top-shadow {
  position: relative;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(3, 3, 3, 0.5);
  -moz-box-shadow: 0px 0px 2px 2px rgba(3, 3, 3, 0.5);
  box-shadow: 0px 0px 2px 2px rgba(3, 3, 3, 0.5);
}
.top-shadow:before {
  content: " ";
  position: absolute;
  top: 0px;
  left: -3px;
  width: 3px;
  height: 100%;
  display: inline-block;
  background: -webkit-linear-gradient(top, transparent, #ffffff 15%);
  background: -o-linear-gradient(bottom, transparent, #ffffff 15%);
  background: -moz-linear-gradient(bottom, transparent, #ffffff 15%);
  background: linear-gradient(to bottom, transparent, #ffffff 15%);
  border-bottom: solid 2px #ffffff;
  z-index: 1;
}
.top-shadow:after {
  content: " ";
  position: absolute;
  top: 0px;
  right: -3px;
  width: 3px;
  height: 100%;
  display: inline-block;
  background: -webkit-linear-gradient(top, transparent, #ffffff 15%);
  background: -o-linear-gradient(bottom, transparent, #ffffff 15%);
  background: -moz-linear-gradient(bottom, transparent, #ffffff 15%);
  background: linear-gradient(to bottom, transparent, #ffffff 15%);
  border-bottom: solid 2px #ffffff;
}
.pagination {
  text-align: center;
}
/***********************************************************************
 * Mixins
 **********************************************************************/
.h-center {
  margin-left: auto;
  margin-right: auto;
}
.half-width {
  width: 50%;
  min-width: 480px;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
